body{
  background-color: #63071c;
  margin: 0;
  text-align: center;
  color: #aa6a4c;
  font-family: 'Ubuntu', sans-serif;
}

div{
  margin: 0 auto 0 auto;
}

h1{
  font-size: 600%;
}

h2{
  font-size: 400%;
  font-weight: 600;
  line-height: 2;
}
img{
  height: 100%;
}
p{
  font-size: 35px;
}
hr{
  border: solid;
  border-width: 10px;
}
a{
  color: #eeaa9c;
}
.top-container{
}
.subtitle{
  margin: 24px;
}
.cherryblossom{
  height: 20%;
  position: absolute;
  left: 1.5%;
  top: 40%;
}

.brownborder{
  border: solid;
  border-width: 10px;
}
.heading{
  background-color: #5c2223;
  font-family: 'Amatic SC', cursive;
  padding: 20px;

  width: 80%;
  display: inline-block;
  position: relative;
  left: 25px;
}
.skill-row{
  width: 50%;
  display: inline-block;
  text-align: left;
  line-height: 2;
}

.skill-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
