body{
  background-color: #253d24;
  margin: 0;
  text-align: center;
  color: #f2e6ce;
  font-family: 'Ubuntu', sans-serif;
}

div{
  margin: 0 auto 0 auto;
}

h1{
  color: #fca106;
  font-size: 8rem;
}

h2{
  font-size: 400%;
  font-weight: 600;
}

h3{
  font-size: 300%;
}
img{
  height: 100%;
}
p{
  font-size: 200%;
  text-align: left;
}
hr{
  width: 20%;
  border: dotted;
  border-width: 10px 0 0 0;
  color: #de2a18;
}
a{
  color: #eeaa9c;
  text-decoration: none;
}

#subtitle{
  margin: 24px;
  text-align: center;
  font-size: 1.5rem;
}
.charC{
  font-size: 2rem;
  font-weight: 900;
}
.cherryblossom{
  height: 20%;
  position: absolute;
  left: 1.5%;
  top: 40%;
}

.brownborder{
  border: solid;
  border-width: 10px;
}
.heading{
  background-color: #de2a18;
  font-family: 'Amatic SC', cursive;
  padding: 10px;

  width: 80%;
  display: inline-block;
  position: relative;
  left: 25px;
}
.carousel-item{
  padding: 7% 15%;
}

.middle-container{
  width: 50%;
  display: inline-block;

  line-height: 2;
}

.skill-img-even{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-img-odd{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.butn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  color: #fbb929;
  font-size: 26px;
  padding: 24px;
  background: #5d3d21;
  border: solid #f2e6ce 4px;
  text-decoration: none;
  margin: 0 auto 40px auto;
}

.butn:hover {
  background: #835e1d;
  text-decoration: none;
}
.bottom-container{
  background-color: #de2a18;
  color: #f19790;
  padding: 40px;

}
.footer-link{
  display: inline-block;
  padding: 10px;
  font-size: 120%;
}
.footer-link:hover{
  position: relative;
  color: #f2b9b2;
  border-style: solid;
  border-width: 0 3px 0 3px;
  border-color: #eeaa9c;
}
#footer{
  font-size: 50%;
  text-align: center;
}
